// ========================= [ Header styles ] =========================
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  // .header__row
  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: rem(30);
    padding: 20px 0;

    @media (max-width: $breakpoint768) {
      display: none;
    }
  }

  // .header__column
  &__column {
    display: flex;
    align-items: center;
    gap: rem(60);
  }

  // .header__phone
  &__phone {
    display: flex;
    align-items: center;
    gap: rem(10);
    font-size: rem(22);
    line-height: math.div(26, 22);
    font-weight: 500;
    color: $mainColor;
  }

  // .header__greeting
  &__greeting {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 500;
    font-size: rem(22);
    line-height: math.div(26, 22);
  }

  // .header__curency
  &__curency {}

  // .header__account
  &__account {}

  // .header__actions
  &__actions {
    gap: rem(20);
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.logo {
  margin-right: rem(45);

  a {
    img {
      height: 100%;
      width: 100%;
    }
  }
}

// ========================== [ Menu styles ] ==========================
.menu {
  flex: 1 1 auto;

  // .menu__list
  &__list {
    display: flex;
    gap: rem(50);

    @media screen and (max-width: $burgerBreakpoint) {
      position: fixed;
      background: $burgerMenuColor;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      display: none;
      overflow: auto;
      padding-top: rem(120);
      padding-bottom: rem(60);

      .active & {
        display: flex;
        left: 0;
        top: 0;
        height: 100vh;
        width: 100vw;
        flex-direction: column;
        pointer-events: all;
        justify-content: center;
        align-items: center;
        z-index: 2;
        animation: fade 0.1s linear;
      }
    }
  }

  // .menu__item
  &__item {
    display: flex;
    position: relative;
  }

  // .menu__actions
  &__actions {
    display: flex;
    align-items: center;
    @include adaptiveValue("gap", 40, 10);
  }

  // .menu__item-link
  &__item-link {
    font-weight: 500;
    font-size: rem(22);
    line-height: math.div(26, 22);
    color: $mainColor;
    display: flex;
    position: relative;
    transition: 0.5s color;
    opacity: 0.6;

    &:after {
      opacity: 0;
      position: absolute;
      content: url(../img/icons/underline.svg);
      left: 50%;
      bottom: -10px;
      transform: translate(-50%, 0);
      transition: 0.5s opacity;
    }

    &:hover {
      opacity: 1;

      &:after {
        opacity: 1;
      }
    }
  }

  // Mobile menu styles
  @media screen and (max-width: $burgerBreakpoint) {
    position: fixed;
    background: $burgerMenuColor;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: none;

    &.active {
      display: flex;
      left: 0;
      top: 0;
      height: 100vh;
      width: 100vw;
      flex-direction: column;
      pointer-events: all;
      justify-content: center;
      align-items: center;
      z-index: 2;
      animation: fade 0.1s linear;
    }
  }
}

// ========================= [ Burger styles ] =========================
.burger {
  display: none;
  background: transparent;
  z-index: 3;

  @media screen and (max-width: $burgerBreakpoint) {
    display: flex;
    position: relative;
    height: 20px;
    width: 30px;

    &.active {
      &:before {
        background: $burgerActiveColor;
        transform: rotate(45deg);
        transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
        top: 8px;
      }

      &:after {
        background: $burgerActiveColor;
        transform: rotate(-45deg);
        bottom: 10px;
        transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
      }

      & span {
        transform: scale(0);
      }
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
      height: 2px;
      width: 100%;
      background: $burgerColor;
      transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    }

    &:before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    span {
      position: absolute;
      top: 9px;
      right: 0;
      width: 100%;
      background: $burgerColor;
      height: 2px;
      transform: scale(1);
      transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    }
  }
}