.section {

  // .section__main
  &__main {
    padding-top: rem(370);
    padding-bottom: rem(228);
    min-height: rem(1080);
    background: url("../img/main/bg.png") center / cover no-repeat;
    overflow: clip;

    @media (max-width: $breakpoint768) {
      min-height: unset;
      padding-top: rem(170);
      padding-bottom: rem(170);
    }
  }

  // .section__about
  &__about {
    .container {
      max-width: 1600px;
      margin: 80px auto;
      padding: 16px 12px;
      background: rgba(205, 168, 97, 0.1);
      box-shadow: 0px 14px 44px rgba(0, 0, 0, 0.03);
      border-radius: 50px;
    }
  }

  // .section__products
  &__products {
    margin-top: rem(160);
    margin-bottom: rem(160);
    @media (max-width:$breakpoint768){
      margin-top: rem(80);
    margin-bottom: rem(80);
    }
  }

  // .section__deals
  &__deals {
    position: relative;
    overflow: hidden;
  }
  // .section__service
  &__service {
    padding-top: rem(80);
    padding-bottom: rem(80);
    position: relative;
    @media (max-width:$breakpoint768){
      padding-top: rem(40);
      padding-bottom: rem(40);
    }
    &::before{
      content:url(../img/service/04.svg);
      position: absolute;
      top: 60px;
      left: -34px;
      z-index: -1;
      width: 100%;
      height: 100%;
    }
  }
  // .section__reviews
  &__reviews {
    padding-top: rem(80);
    padding-bottom: rem(80);
    overflow: hidden;
    background: #F5EEE1;
    @media (max-width:$breakpoint768){
      padding-top: rem(40);
      padding-bottom: rem(40);
    }
  }
  // .section__subscribe
  &__subscribe {
    padding-top: rem(100);
    padding-bottom: rem(80);
    background: #F5EEE1;
  }
}

.main {

  // .main__content
  &__content {
    max-width: rem(660);
  }

  // .main__title
  &__title {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: rem(76);
    line-height: math.div(93, 76);

    span {
      color: $accentColor;
      text-decoration-line: underline;
    }

    &:not(:last-child) {
      margin-bottom: rem(30);
    }

    @media (max-width:$breakpoint768) {
      font-size: rem(48);
    }

    @media (max-width: $breakpoint768) {
      &:not(:last-child) {
        margin-bottom: rem(20);
      }
    }
  }

  // .main__text
  &__text {
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    opacity: 0.8;
    max-width: rem(490);

    &:not(:last-child) {
      margin-bottom: rem(60);
    }

    @media (max-width: $breakpoint768) {
      &:not(:last-child) {
        margin-bottom: rem(30);
      }
    }
  }

  // .main__button
  &__button {}
}

.about {

  // .about__row
  &__row {
    display: flex;
    align-items: center;
    position: relative;

    @media (max-width:$breakpoint992) {
      flex-direction: column;
    }

    &::before {
      content: url(../img/about/before.svg);
      position: absolute;
      bottom: -100px;
      left: -116px;
      z-index: -2;
    }
  }

  // .about__column
  &__column {
    display: flex;
    gap: rem(20);
    flex: 0 0 48%;

    @media (max-width:$breakpoint992) {
      flex: 0 0 100%;
    }
  }

  // .about__image
  &__image {
    @media (max-width:$breakpoint992) {
      display: none;
    }

    img {
      max-width: 100%;
    }
  }

  // .about__content
  &__content {
    max-width: rem(510);
  }

  // .about__bg
  &__bg {
    position: absolute;
    z-index: -1;
    top: 30.5%;
    right: .75%;
    width: 18.5625rem;
    height: 21.125rem;
    overflow: hidden;
    @media (max-width: $breakpoint768){
        display: none;
    }
  }

  // .about__title
  &__title {
    &:not(:last-child) {
      margin-bottom: rem(20);
    }
  }

  // .about__subtitle
  &__subtitle {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: rem(76);
    line-height: math.div(93 , 76);
    position: relative;
    display: inline-flex;

    &:not(:last-child) {
      margin-bottom: rem(30);
    }

    @media (max-width:$breakpoint768) {
      font-size: rem(36);
    }
  }

  // .about__text
  &__text {
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    opacity: 0.8;

    &:not(:last-child) {
      margin-bottom: rem(24);
    }
  }

  // .about__button
  &__button {}
}

.products {

  // .products__top
  &__top {
    text-align: center;
  }

  // .products__title
  &__title {
    &:not(:last-child) {
      margin-bottom: rem(20);
    }
  }

  // .products__subtitle
  &__subtitle {
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    opacity: 0.8;
  }

  // .products__row
  &__row {
    padding: 0 rem(80);
    position: relative;
    @media (max-width:$breakpoint768){
      padding: 0 rem(0);
    }
  }

  // .products__swiper
  &__swiper {
    max-width: rem(1600);
    margin: 0 auto;
  }

  // .products__wrapper
  &__wrapper {
    padding-top: rem(68);
  }

  // .products__slide
  &__slide {}
}

.deals {
  // .deals__wrapper
  &__wrapper {
    position: relative;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.052) 0.01%), url(../img/deals//bg.jpg) center / cover no-repeat;
    border: 5px solid #AACACD;
    border-radius: 50px;
    max-width: rem(1520);
    margin: rem(80) auto;
    min-height: rem(767);
    @media (max-width:$breakpoint768) {
      min-height: auto;
    }
  }
  // .deals__decor
  &__decor {
    &-first{
      position: absolute;
      bottom: -68px;
      left: -148px;
      height: rem(108);
      z-index: 1;
      overflow: visible;
    }
    &-second{
      position: absolute;
      top: -48px;
      right: -148px;
      z-index: 1;
      height: rem(294);
      width: rem(10);
    }
  }
  // .deals__body
  &__body {
    padding-top: rem(80);
    padding-bottom: rem(460);
    text-align: center;
    @media (max-width:$breakpoint768){
        padding-bottom: rem(200);
    }
  }

  // .deals__title
  &__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: rem(30);
    line-height: math.div(37, 30);
    color: #000000;

    &:not(:last-child) {
      margin-bottom: rem(34);
    }

    @media (max-width:$breakpoint768) {
      font-size: rem(24);
    }
  }

  // .deals__countdown
  &__countdown {
    &:not(:last-child) {
      margin-bottom: rem(34);
    }
  }

  // .deals__button
  &__button {}
}

.countdown {
  display: flex;
  justify-content: center;
  gap: rem(70);
  max-width: rem(500);
  margin: 0 auto;

  @media (max-width:$breakpoint768) {
    gap: rem(20);
  }

  // .countdown__item
  &__item {}

  // .countdown__number
  &__number {
    display: flex;
    align-items: center;
    justify-content: center;
    height: rem(66);
    width: rem(66);
    border-radius: 50%;
    border: 2px solid #F3E9E9;
    font-family: $fontSecondary;
    font-weight: 600;
    font-size: rem(24);
    line-height: math.div(29, 24);
    color: #000000;

    &:not(:last-child) {
      margin-bottom: rem(3);
    }

    @media (max-width:$breakpoint768) {
      height: rem(55);
      width: rem(55);
      font-size: rem(20);
    }
  }

  // .countdown__title
  &__title {
    font-family: $fontSecondary;
    font-style: italic;
    font-weight: 600;
    font-size: rem(16);
    line-height: math.div(20, 16);
    color: #000000;

    @media (max-width:$breakpoint768) {
      font-size: rem(14);
    }
  }
}

.service {
  // .service__wrapper
  &__wrapper {
  }
  // .service__img
  &__img {
    display: flex;
    justify-content: center;
    margin-bottom: rem(-35);
    img {
      max-width: 100%;
    }
  }
  // .service__body
  &__body {
    padding: rem(121) rem(15) rem(121);
    background: rgba(205, 168, 97, 0.19);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    @media (max-width: $breakpoint768){
      padding: rem(60) rem(15) rem(60);
    }
  }
  // .service__list
  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: rem(1032);
    @include adaptiveValue("gap", 155, 25);
  }
  // .service__item
  &__item {
    display: flex;
    gap: rem(20);
    align-items: center;
  }
  // .service__image
  &__image {
    &:not(:last-child) {
      margin-bottom: rem(12);
    }
  }
  // .service__text
  &__text {
    display: flex;
    flex-direction: column;
  }
  // .service__title
  &__title {
    font-weight: 500;
    font-size: rem(20);
    line-height: math.div(23 , 20);
    color: #000000;
    &:not(:last-child) {
      margin-bottom: rem(8);
    }
  }
  // .service__subtitle
  &__subtitle {
    font-weight: 400;
    font-size: rem(14);
    line-height: math.div(16 , 14);
  }
}

.reviews {
  // .reviews__wrapper
  &__wrapper {
    position: relative;
    text-align: center;
    &::before{
      content:url(../img/reviews/01.svg);
      position: absolute;
      top: -80px;
      left: -182px;
      transform: translate(50%, 0);
    }
    &::after{
      content:url(../img/reviews/02.svg);
      position: absolute;
      bottom: 34px;
      left: 0;
      z-index: 0;
    }
  }
  // .reviews__title
  &__title {
    position: relative;
    z-index: 1;
    &:not(:last-child) {
      margin-bottom: rem(30);
    }
  }
  // .reviews__list
  &__list {
    position: relative;
    z-index: 1;
    display: grid;
    gap: rem(30);
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    align-items: center;
  }
  // .reviews__item
  &__item {
    padding: rem(108) rem(21) rem(50);
    background: #F8F7F7;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    position: relative;
    text-align: center;
    margin-top: rem(68);
    @media (max-width:$breakpoint768){
        padding-top: rem(60);
    }
  }
  // .reviews__image
  &__image {
    position: absolute;
    top: -68px;
    left: 50%;
    transform: translate(-50%, 0);
  }
  // .reviews__body
  &__body {
  }
  // .reviews__text
  &__text {
    font-weight: 400;
    font-size: rem(18);
    line-height: math.div(21 , 18);
    text-align: center;
    letter-spacing: 0.09em;
    color: $mainColor;
    opacity: 0.8;
    &:not(:last-child) {
      margin-bottom: rem(50);
      @media (max-width:$breakpoint768){
          margin-bottom: rem(25);
      }
    }
  }
  // .reviews__info
  &__info {
  }
  // .reviews__name
  &__name {
    font-weight: 700;
    font-size: rem(22);
    line-height: math.div(26 , 22);
    text-align: center;
    letter-spacing: 0.09em;
    color: #000000;
    &:not(:last-child) {
      margin-bottom: rem(4);
    }
  }
  // .reviews__position
  &__position {
    font-size: rem(20);
    line-height: math.div(23 , 20);
    text-align: center;
    letter-spacing: 0.09em;
    color: #000000;
  }
}

.subscribe {
  // .subscribe__wrapper
  &__wrapper {
    position: relative;
    max-width: rem(1440);
    margin: 0 auto;
  }
  // .subscribe__top
  &__top {
    max-width: rem(610);
  } 
  // .subscribe__body
  &__body {
    background: url(../img/subscribe/img.png) center / cover no-repeat;
    filter: drop-shadow(0px 34px 62px rgba(0, 0, 0, 0.1));
    border-radius: 20px;
    min-height: rem(697);
    text-align: center;
    display: flex;
    align-items: start;
    flex-direction: column;
    padding: rem(100) rem(110);
    @media (max-width:$breakpoint768) {
      min-height: auto;
      padding: rem(50) 0;
    }
  }
  // .subscribe__title
  &__title {
    &:not(:last-child) {
      margin-bottom: rem(32);
    }
  }
  // .subscribe__subtitle
  &__subtitle {
  font-size: rem(22);
  line-height: math.div(26 , 22);
  color: #000000;
    &:not(:last-child) {
      margin-bottom: rem(80);
    }
  }
  // .subscribe__form
  &__form {
    width: 100%;
    display: flex;
    position: relative;
    flex-wrap: wrap;
  }
  // .subscribe__input
  &__input {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 150px;
    padding: rem(26) rem(40);
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: rem(22);
    line-height: math.div(27 , 22);
    color: #000000;
    margin-bottom: rem(10);
    @media (max-width:$breakpoint480){
      padding: rem(10) rem(20);
      font-size: rem(18);
    }
  }
  // .subscribe__button
  &__button {
    position: absolute;
    top: 10px;
    right: 10px;
    @media (max-width:$breakpoint768){
      position: static;
      width: 100%;
      justify-content: center;
    }
  }
}