// Container & Breakpoints
$containerWidth: 1680;
$containerPadding: 40;
$maxWidthContainer: $containerWidth;
$minWidth: 320;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1450: 1449.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 479.98 + px;

// Colors
$mainColor: #34383D;
$secondaryColor: #FFFFFF;
$accentColor: #CDA861;

// Burger Menu
$burgerBreakpoint: $breakpoint992;
$burgerColor: $mainColor;
$burgerMenuColor: #D8D1C4;
$burgerActiveColor: $accentColor;

// Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500,700,500italic&display=swap);
@import url(https://fonts.googleapis.com/css?family=Montserrat:.regular,500,500italic,600,700&display=swap); 
$fontMain: 'Roboto', sans-serif;
$fontSecondary: 'Montserrat';
